<button class="toggle-button" role="button" (click)="toggleMenu()">
  <app-icon icon="collapse"></app-icon>
</button>

<ng-container *ngIf="!collapsed">
  <span class="caption">Сборы</span>

  <h3 class="title">
    <a class="app-link" [routerLink]="meetingLink">{{meetingText}}</a>
  </h3>

  <span class="caption">Контест закончится через:</span>

  <span class="timer">{{timer}}</span>
</ng-container>

<div class="tasks" [ngClass]="{'tasks_collapsed': collapsed}">
  <ng-container *ngIf="!collapsed">
    <span class="caption">Контест</span>
    
    <h3 class="title">{{contest}}</h3>
  </ng-container>

  <ul class="list">
    <li class="item" *ngFor="let task of tasks">
      <app-task-item
        [letter]="task.letter"
        [current]="task.id === currentTaskId"
        [href]="task.href"
        [collapsed]="collapsed"
      >
        {{task.text}}
      </app-task-item>
    </li>
  </ul>
</div>
