<header class="header">
  <div class="nav-section">
    <span class="title">Информатикс</span>
    <span class="nav-item" (click)="navigate('demo')">Демо</span>
    <span class="nav-item" (click)="navigate('contest')">Контест</span>
  </div>

  <div class="auth-section">
    <button
      *ngIf="isLoggedIn$ | async"
      class="app-link"
      (click)="navigate('auth/change-password', {token: 'eyJ1c2VyX2lkIjo0MTkyNjN9.XKs0iQ.q4Z4xvp0jVQJbAnFig5xcMImsn0'})"
    >
      Сменить пароль
    </button>
    <button
      *ngIf="isLoggedIn$ | async"
      class="app-link"
      (click)="logout()"
    >
      Выйти
    </button>
  </div>
</header>
