<header class="header app-container">
  <div class="nav-section">
    <span class="title">Информатикс</span>
    <span class="nav-item" (click)="navigate('demo')">Демо</span>
    <span class="nav-item" (click)="navigate('contest')">Контест</span>
    <span class="nav-item" (click)="navigate('workshop', 1)">Сборы</span>
  </div>

  <div class="auth-section">
    <button
      *ngIf="isLoggedIn$ | async"
      class="app-link"
      (click)="logout()"
    >
      Выйти
    </button>
  </div>
</header>
