.title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.tabs {
    margin-bottom: 24px;
}

.join-message {
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-size: 30px;
}

.message-cont {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    margin: auto;
}
