.title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.tabs {
  margin-bottom: 24px;
}

.loader {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
