<table class="table">
  <tr class="head-row">
    <th class="col">
      <span class="head-text">#</span>
    </th>
    <th class="col">
      <button class="sort head-text">Дата ▾</button>
    </th>
    <th class="col">
      <span class="head-text">Язык</span>
    </th>
    <th class="col">
      <span class="head-text">Тесты</span>
    </th>
    <th class="col">
      <button class="sort head-text">Баллы ▾</button>
    </th>
    <th class="col">
      <button class="sync">
        <app-icon icon="sync" width="24px" height="24px"></app-icon>
      </button>
    </th>
  </tr>

  <ng-container *ngFor="let package of packages">
    <tr class="body-row">
      <td class="col"><span class="body-secondary">{{package.id}}</span></td>
      <td class="col"><span class="body-secondary">{{package.date}}</span></td>
      <td class="col">{{package.lang}}</td>
      <td class="col">{{package.tests}}</td>
      <td class="col"><b class="score">{{package.score}}</b></td>
      <td class="col">
        <a [routerLink]="package.href" class="app-link"></a>
        <app-package-status class="status" [status]="package.status"></app-package-status>
      </td>
    </tr>
  </ng-container>

</table>

<button class="app-link_icon-down">Показать еще 5</button>
