<app-checkbox class="demo-item">default</app-checkbox>
<app-checkbox class="demo-item" [checked]="true">checked</app-checkbox>
<app-checkbox class="demo-item" [checked]="true" [disabled]="true">checked disabled</app-checkbox>
<app-checkbox class="demo-item" [checked]="false" [disabled]="true">disabled</app-checkbox>
<app-checkbox class="demo-item" [checked]="false" [disabled]="false" [hasError]="true">error</app-checkbox>
<app-checkbox class="demo-item" [checked]="true" [disabled]="false" [hasError]="true">checked error</app-checkbox>
<app-checkbox class="demo-item" [checked]="true" [disabled]="true" [hasError]="true">checked disabled error</app-checkbox>




