<h1 class="title-1">{{name}}</h1>

<section class="section section_restrictions">
  <h2 class="title-2">Ограничения</h2>
  
  <div class="restrictions">
    <app-icon-label class="restriction" icon="clock" caption="Время">{{timeLimit}} сек</app-icon-label>
    <app-icon-label class="restriction" icon="memory" caption="Память">{{formatBytes(memoryLimit)}}</app-icon-label>
  </div>
</section>

<section class="section">
  <h2 class="title-2">Условия</h2>

  <app-content [content]="content"></app-content>
  
  <h3 class="separator">Примеры данных</h3>

  <div class="data-examples">
    <app-code-block
      class="data-example-code"
      blockTitle="Входные данные"
      [code]="input"
      [minLines]="minDataLines">
    </app-code-block>
    <app-code-block
      class="data-example-code"
      blockTitle="Выходные данные"
      [code]="correct"
      [minLines]="minDataLines">
    </app-code-block>
  </div>
</section>

<section class="section">
  <h2 class="title-2">Решение</h2>
  <app-select
    class="select"
    [item]="selectedLanguage"
    (itemChange)="onSelectedLanguageChanged($event)"
    labelField="title"
    valueField="id"
    [items]="languages">
  </app-select>

  <div class="radio-group">
    <app-radio
      class="radio"
      name="solution-type"
      [checked]="true"
      [reverse]="true"
      (change)="showFileLoader = true"
    >
      Загрузить файл
    </app-radio>
    <app-radio
      class="radio"
      name="solution-type"
      [reverse]="true"
      (change)="showFileLoader = false"
    >
      Написать код
    </app-radio>
  </div>

  <app-upload
    #upload
    *ngIf="showFileLoader"
    (selectFile)="select($event)"
    [error]="fileError"
    class="upload">
  </app-upload>

  <app-no-encapsulation>
    <ngx-codemirror
      *ngIf="!showFileLoader"
      class="code codemirror"
      [(ngModel)]="code"
      [options]="{
      lineNumbers: true,
      mode: selectedLanguage.mode
    }"
    ></ngx-codemirror>
  </app-no-encapsulation>

  <button class="app-button_primary solution-button" (click)="passSolution()">Сдать решение</button>
</section>

<section class="section">
  <h2 class="title-2">Отправленные посылки</h2>
  <app-sent-packages
    [submissions]="submissions"
    [contestId]="contestId"
    [problemId]="problem.id"
    (updateSubmissions)="getSubmissions.emit($event)"
    (openSubmission)="openSubmission.emit($event)"
    [isFetching]="isSubmissionsFetching"
  ></app-sent-packages>
</section>
