.radio-group {
  margin-bottom: 16px;
}

.upload {
  margin-bottom: 16px;
}

.select {
  width: 360px;
  margin-bottom: 16px;
}

.code {
  display: block;
  margin-bottom: 16px;
  border-radius: 4px;

  ::ng-deep {
    .CodeMirror {
      border-radius: 4px;
      background: var(--light-gray-3);
    }

    .CodeMirror-gutters {
      background: transparent;
      border: none;
    }
  }
}

.radio {
  display: inline-flex;
  height: 44px;
  border-radius: 4px;
  align-items: center;
  width: 50%;
  border: solid 1px var(--light-gray-1);
  padding-left: 16px;
  padding-right: 12px;

  &:nth-child(odd) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:nth-child(even) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
  }
}

.solution-button {
  width: 140px;
}
