<div class="dashboard">
  <h2 class="title">Controls</h2>
  <a routerLink="input">Input</a>
  <a routerLink="checkbox">Checkbox</a>
  <a routerLink="radio">Radio</a>
  <a routerLink="button">Buttons and links</a>
  <a routerLink="upload">Upload</a>
  <a routerLink="select">Select</a>

  <h2 class="title">Sections</h2>
  <a routerLink="task-menu">Task menu</a>
  <a routerLink="task-main">Conditions</a>
  <a routerLink="task-solution">Task solution</a>
  <a routerLink="sent-packages">Sent packages</a>
</div>

<div class="demo">
  <router-outlet></router-outlet>
</div>

