<h1 class="title-1">Задача №3397. Парк аттракционов</h1>

<section class="section section_restrictions">
  <h2 class="title-2">Ограничения</h2>
  
  <div class="restrictions">
    <app-icon-label class="restriction" icon="clock" caption="Время">{{restrictions.time}}</app-icon-label>
    <app-icon-label class="restriction" icon="memory" caption="Память">{{restrictions.memory}}</app-icon-label>
  </div>
</section>

<section class="section">
  <h2 class="title-2">Условия</h2>
  
  <p class="paragraph" *ngFor="let p of conditions.description">{{p}}</p>
  
  <h3 class="separator">Входные данные</h3>

  <p class="paragraph" *ngFor="let p of conditions.inputData">{{p}}</p>
  
  <h3 class="separator">Выходные данные</h3>

  <p class="paragraph" *ngFor="let p of conditions.outputData">{{p}}</p>
  
  <h3 class="separator">Примеры тестов</h3>
  
  <p class="paragraph paragraph_examples" *ngFor="let p of conditions.testExamples">
    <b class="small-title">{{p.title}}</b>
    <span [innerHtml]="p.text"></span>
  </p>
  
  <h3 class="separator">Примеры данных</h3>

  <div class="data-examples">
    <app-code-block class="data-example-code" blockTitle="Входные данные" [code]="conditions.dataExamples.input" [minLines]="minDataLines"></app-code-block>
    <app-code-block class="data-example-code" blockTitle="Выходные данные" [code]="conditions.dataExamples.output" [minLines]="minDataLines"></app-code-block>
  </div>
</section>

<section class="section">
  <h2 class="title-2">Решение</h2>
  <app-task-solution (pass)="addSolution($event)"></app-task-solution>
</section>

<section class="section">
  <h2 class="title-2">Отправленные посылки</h2>
  <app-sent-packages [problemId]="problemId"></app-sent-packages>
</section>

<app-pagination
  class="pagination"
  [previous]="{href: '', name: 'Количество положительных элементов'}"
  [next]="{href: '', name: 'Вывести четные элементы'}"
></app-pagination>
