<form
  (ngSubmit)="onSubmit()"
  [formGroup]="changePasswordForm"
  class="form"
>
  <div class="form-container"
       *ngIf="!isPasswordChangeFinished || error; else successChange">
    <span class="form__title">Изменение пароля</span>
    <div class="form__subheader">
      Придумайте новый пароль для своего аккаунта
    </div>

    <app-input placeholder="Придумайте пароль"
               class="password"
               [formControl]="password"
               (valueChange)="handleInputChange()"
               type="password"></app-input>

    <app-input placeholder="Повторите, чтобы не ошибиться"
               [formControl]="passwordRepeat"
               [hasError]="changePasswordForm.hasError('notSame')"
               (valueChange)="handleInputChange()"
               type="password"></app-input>

    <div *ngIf="changePasswordForm.hasError('notSame')" class="error not-equal-error">Пароли не совпадают</div>

    <div class="foot-content" [style.height]="changePasswordForm.hasError('notSame') ? '144px' : '170px'">
      <div>
        <button class="app-button_primary next-button"
                [class.app-button--loading]="isFetching"
                [disabled]="!changePasswordForm.valid">
          Далее
        </button>

        <div *ngIf="isFormSubmitted && isPasswordChangeFinished" class="result-message">
          <div *ngIf="error" class="error">{{error}}</div>
        </div>
      </div>

      <div>
        <app-auth-footer></app-auth-footer>
      </div>
    </div>
  </div>
</form>

<ng-template #successChange>
  <div class="success-container">
    <app-icon
      [width]="'64px'"
      [height]="'64px'"
      icon="check"></app-icon>
    <span class="success-title">Пароль изменен</span>
    <button class="app-button_primary back-button" (click)="onBackButtonClicked()">
      Вернуться на сайт
    </button>
  </div>

  <div class="footer"><app-auth-footer></app-auth-footer></div>
</ng-template>
