<form
  (ngSubmit)="onSubmit()"
  [formGroup]="changePasswordForm"
  class="form"
>
  <span class="form__title">Изменение пароля</span>
  <div class="form__subheader">
    Придумайте новый пароль для {{email$ | async}}
  </div>

  <app-input placeholder="Придумайте пароль"
             class="password"
             [formControl]="password"
             (valueChange)="handleInputChange()"
             type="password"></app-input>

  <app-input placeholder="Повторите, чтобы не ошибиться"
             [formControl]="passwordRepeat"
             (valueChange)="handleInputChange()"
             type="password"></app-input>

  <button class="app-button_primary next-button"
          [class.app-button--loading]="isFetching$ | async"
          [disabled]="!changePasswordForm.valid">
    Далее
  </button>

  <div *ngIf="isFormSubmitted && (isPasswordRestoreFinished$ | async)" class="result-message">
    <div *ngIf="error$ | async" class="error">{{error$ | async}}</div>
  </div>

  <div [style.margin-top]="isFormSubmitted && (isPasswordRestoreFinished$ | async) ? '48px' : '66px'">
    <app-auth-footer></app-auth-footer>
  </div>
</form>
