:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 44px;
    box-shadow: inset 0 -1px 0 0 var(--light-gray-1);
}

.tabs {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.tab {
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 1.29;
    color: var(--dark-gray);
    transition-property: color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:not(:first-child) {
        margin-left: 24px;
    }

    &_current {
        color: var(--black);
        box-shadow: inset 0 -2px 0 0 var(--primary-color);
    }
}

.extra {
    flex-shrink: 0;

    &:not(:empty) {
        margin-left: 24px;
    }
}
