<div class="wrapper">
  <app-contest-menu
    *ngIf="(contest | async) as contest"
    class="task-menu"
    [meetingText]="contest.summary"
    meetingLink=""
    timer="3:59:59"
    [contest]="contest.name"
    [tasks]="contest.problems"
    [currentTaskId]="currentTaskId"
  ></app-contest-menu>

  <div class="task" *ngIf="!(isFetching | async); else loading">
    <app-contest-task
      *ngIf="(problem | async) as problem"
      [memoryLimit]="problem.memoryLimit"
      [timeLimit]="problem.timeLimit"
      [content]="problem.content"
      [correct]="problem.correct"
      [input]="problem.input"
      [name]="problem.name"
      [submissions]="submissions | async"
      (getSubmissions)="getSubmissions($event)"
      (addSubmission)="addSubmission($event)"
      (openSubmission)="openSubmission($event)"
      [isSubmissionsFetching]="isSubmissionsFetching">
    </app-contest-task>

    <app-contest-pagination
      *ngIf="(paginationItems | async) as paginationItems"
      class="pagination"
      [previous]="paginationItems[0]"
      [next]="paginationItems[1]"
    ></app-contest-pagination>
  </div>

  <ng-template #loading>
    <app-loader class="loader"></app-loader>
  </ng-template>
</div>
