.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  height: 59px;
  background-color: #333b50;
  padding-right: 88px;

  .title {
    margin-left: 72px;
    font-size: 18px;
    color: #ffffff;
  }

  .app-link {
    color: #ffffff;
  }
}

.wrapper {
  display: flex;
  margin-top: 20px;
  padding-right: 88px;
  padding-left: 88px;
  padding-bottom: 36px;
}

.task-menu {
  margin-right: 32px;
  min-width: 288px;
}

.task-main {

}

