:host {
  display: block;
}

.col {
  &:first-child {
    width: (100% / 800) * 404;
  }

  &:nth-child(2),
  &:nth-child(3) {
    width: (100% / 800) * 144;
  }

  &:last-child {
    width: (100% / 800) * 112;
  }
}
