@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'variables';

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-moz-focus-inner {
  border: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  background-color: #f3f5f7;
  -webkit-font-smoothing: antialiased;
}

input {
  color: inherit;
  border: none;
  font-size: inherit;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input:focus::placeholder {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: var(--gray);
}

button {
  padding: 0;
  border: none;
  background: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
.pseudo-link {
  text-decoration: none;
  color: var(--blue);
  transition: color .2s ease-in-out;
  will-change: color;

  &:hover,
  &:focus {
    color: var(--blue-hover);
  }

  &:active {
    color: var(--blue-active);
  }
}
