.app-table {
  & , & > tbody {
    display: flex;
    flex-direction: column;
  }

  tr {
    display: flex;
    justify-content: stretch;
  }
  
  th, td {
    display: flex;
    align-items: center;
    font-weight: normal;
  }

  &__head-row {
    height: 40px;
    font-size: 12px;
    line-height: 1.33;
    color: var(--gray);
    background-color: var(--light-gray-2);
    border-radius: 4px;
  }
  
  &__body-row {
    height: 48px;
    font-size: 14px;
    line-height: 1.29;
    box-shadow: 0 1px 0 0 var(--light-gray-1);
  }
  
  &__col {
    padding-right: 12px;
  
    &:first-child {
      padding-left: 12px;
    }
  }

  &__head-text {
    opacity: .9;
  }
}

