:root {
  --gray: #788195;

  --primary-color: #407eff;
  --primary-color-hover: #2b6cf4;

  --secondary-color: rgba(64, 126, 255, 0.2);
  --secondary-color-hover: rgba(64, 126, 255, 0.3);

  --error-color-1: rgba(255, 47, 0, 0.1);
  --error-color-2: rgba(255, 47, 0, 0.2);
  --error-color-3: rgba(255, 47, 0, 0.3);
}
