<table class="app-table">
  <tr class="app-table__head-row">
    <th class="app-table__col col">
      <span class="app-table__head-text">Параметр</span>
    </th>
    <th class="app-table__col col">
      <span class="app-table__head-text">Условия</span>
    </th>
    <th class="app-table__col col">
      <span class="app-table__head-text">Значение</span>
    </th>
    <th class="app-table__col col">
      <span class="app-table__head-text">Тест</span>
    </th>
  </tr>

  <ng-container *ngFor="let field of statisticsFields">
    <tr class="app-table__body-row">
      <td class="app-table__col col">{{statistics[field].name}}</td>
      <td class="app-table__col col">{{statistics[field].condition | statisticsParam : true : field}}</td>
      <td class="app-table__col col">{{statistics[field].value | statisticsParam : false : field}}</td>
      <td class="app-table__col col">{{statistics[field].testId | statisticsParam}}</td>
    </tr>
  </ng-container>
  
</table>
