<button class="toggle-button" role="button" (click)="toggleMenu()">
  <app-icon icon="collapse"></app-icon>
</button>

<ng-container *ngIf="!collapsed">
  <ng-container *ngIf="(workshop | async) as Workshop">
    <span class="caption">Сборы</span>
    <button class="title app-link" (click)="onWorkshopTitleClicked(Workshop.id)">{{Workshop.name}}</button>

    <h3 class="title">
      <a class="app-link">{{meetingText}}</a>
    </h3>

    <span class="caption">Контест закончится через:</span>

    <span class="timer">{{timer}}</span>
  </ng-container>
</ng-container>

<div class="tasks" [ngClass]="{'tasks_collapsed': collapsed}">
  <ng-container *ngIf="!collapsed">
    <span class="caption">Контест</span>
    
    <h3 class="title">{{contest}}</h3>
  </ng-container>

  <ul class="list">
    <li class="item" *ngFor="let task of tasks">
      <app-task-item
        [letter]="task.letter"
        [current]="task.id === currentTaskId"
        [href]="task.href"
        [collapsed]="collapsed"
      >
        {{task.name}}
      </app-task-item>
    </li>
  </ul>
</div>
