.radio-group {
  margin-bottom: 16px;
}

.upload {
  margin-bottom: 16px;
}

.select {
  width: 360px;
  margin-bottom: 16px;
}

.code {
  margin-bottom: 16px;
}

.solution-button {
  width: 140px;
}
