:host {
  display: flex;
}

.link {
  display: flex;
  max-width: 328px;

  &_prev {
    margin-right: auto;
  }

  &_next {
    margin-left: auto;
    text-align: right;
  }
}

.icon-round {
  width: 48px;
  height: 48px;
  background-color: var(--light-gray-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.caption {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--dark-gray);
}

.name {
  font-size: 16px;
  line-height: 1.38;
  color: var(--primary-color);
}
