<div class="section">
  <button class="app-button_outline">Button</button>
  <button class="app-button_primary">Button</button>
  <button class="app-button_outline app-button--loading">Button</button>
  <button class="app-button_primary app-button--loading">Button</button>
  <button class="app-button_primary" disabled>Button</button>
</div>

<div class="section">
  <button class="app-link">Link</button>
  <button class="app-link_icon-up">Link with icon</button>
  <button class="app-link_icon-down">Link with icon</button>
</div>
