.form {
  width: 456px;
  border-radius: 6px;
  box-shadow: 0 0 24px 0 rgba(182, 189, 197, 0.42);
  background-color: #ffffff;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
}

.form__title {
  font-size: 22px;
  color: #2d3446;
}

.form__description {
  margin-top: 66px;
  bottom: 24px;
  width: 360px;
  color: #676b7a;

  a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color)
  }

  app-icon {
    display: inline-block;
    width: 13px;
    height: 11px;
  }
}

.form__choose-options {
  margin-top: 20px;
  color: #676b7a;
  font-size: 16px;
}

.form__radio-buttons {
  margin-top: 20px;
  margin-bottom: 16px;
}

button {
  margin-top: 20px;
  display: block;
  width: 183px;
}

.result-message {
  width: 360px;
  height: 36px;
  font-size: 14px;
}

.success {
  color: #39b54a;
}

.error {
  color: #e01f19;
}
