<form
  (ngSubmit)="onSubmit()"
  [formGroup]="restorePasswordForm"
  class="form"
>
  <span class="form__title">Восстановление пароля</span>
  <div class="form__choose-options">
    Выберите, как хотите восстановить пароль
    и мы отправим вам ссылку на почту
  </div>
  <div class="form__radio-buttons">
    <app-radio-group [radioButtons]="radioButtons"></app-radio-group>
  </div>
  <app-input placeholder="{{byLogin ? 'Например, ivanov1245' : 'Например, ivanov@mail.ru'}}"
             [formControl]="loginOrEmail"
             (valueChange)="handleInputChange()"></app-input>

  <button class="app-button_primary"
          [class.app-button--loading]="isFetching | async"
          [disabled]="!restorePasswordForm.valid">
    Восстановить пароль
  </button>

  <div class="form__description">
    По всем текущим вопросам, а также в случае, если<br>
    у вас что-то не работает, пишите на форум или<br>
    в группу <a [href]="telegramLink">telegram
    <app-icon icon="telegram"></app-icon>
  </a>
  </div>
</form>
