:host {
  display: block;
}

.table {
  margin-bottom: 16px;
}

.col {
  &:first-child {
    width: (100% / 736) * 68;
  }

  &:nth-child(2) {
    width: (100% / 736) * 108;
  }

  &:nth-child(3) {
    width: (100% / 736) * 160;
  }

  &:nth-child(4),
  &:nth-child(5) {
    width: (100% / 736) * 80;
  }

  &:last-child {
    width: (100% / 736) * 240;
    text-align: right;
  }
}

.sync {
  opacity: .6;

  &:disabled {
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-1turn);
    }
  }
}

.body-secondary {
  color: var(--dark-gray);
}

.score {
  font-weight: 500;
}

.status {
  margin-left: 34px;
}

.sort-icon {
  margin-left: 4px;
}
