:host {
  display: block;
}

.table {
  margin-bottom: 16px;
}

.col {
  &:first-child {
    flex: 1 1 68px;
  }

  &:nth-child(2) {
    flex: 1 1 108px;
  }

  &:nth-child(3) {
    flex: 1 1 160px;
  }

  &:nth-child(4),
  &:nth-child(5) {
    flex: 1 1 80px;
  }

  &:last-child {
    flex: 1 1 240px;
    justify-content: flex-end;
  }
}

.sync {
  opacity: .6;

  &:disabled {
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-1turn);
    }
  }
}

.body-secondary {
  color: var(--dark-gray);
}

.score {
  font-weight: 500;
}

.status {
  margin-left: 34px;
}
