<table class="table app-table">
  <tr class="app-table__head-row">
    <th class="app-table__col col">
      <span class="app-table__head-text">#</span>
    </th>
    <th class="app-table__col col">
      <button class="sort app-table__head-text" (click)="handleSort('date')">
        Дата
        <span class="sort-icon">{{sortedDate ? '▴' : '▾'}}</span>
      </button>
    </th>
    <th class="app-table__col col">
      <span class="app-table__head-text">Язык</span>
    </th>
    <th class="app-table__col col">
      <span class="app-table__head-text">Тесты</span>
    </th>
    <th class="app-table__col col">
      <button class="sort app-table__head-text" (click)="handleSort('score')">
        Баллы
        <span class="sort-icon">{{sortedScore ? '▴' : '▾'}}</span>
      </button>
    </th>
    <th class="app-table__col col">
      <button class="sync" (click)="update()" [disabled]="isFetching | async">
        <app-icon icon="sync" width="24px" height="24px"></app-icon>
      </button>
    </th>
  </tr>

  <ng-container *ngFor="let package of submissions">
    <tr class="app-table__body-row">
      <td class="app-table__col col"><span class="body-secondary">{{package.id}}</span></td>
      <td class="app-table__col col"><span class="body-secondary">{{getDate(package.date)}}</span></td>
      <td class="app-table__col col">{{package.lang.title}}</td>
      <td class="app-table__col col">{{package.tests}}</td>
      <td class="app-table__col col"><b class="score">{{package.score}}</b></td>
      <td class="app-table__col col">
        <button class="app-link" (click)="openSubmission.emit(package.id)">Посылка</button>
        <app-package-status class="status" [status]="package.status"></app-package-status>
      </td>
    </tr>
  </ng-container>

</table>

<button
  class="app-link_icon-down"
  (click)="changePageSize()"
>
  Показать еще 5
</button>
