:host {
  padding: 4px 8px;
  font-size: 11px;
  line-height: 1.09;
  color: #ffffff;
  border-radius: 10px;
  text-transform: uppercase;

  &._red {
    background: var(--status-red);
  }

  &._green {
    background: var(--status-green);
  }

  &._yellow {
    background: var(--status-yellow);
  }
}