<div [innerHtml]="content | safeHtml"></div>
<div class="problem-statement">
  <div class="legend">
    <p>
      В одномерном массиве, заполненном произвольными целыми числами, за один проход найдите непрерывный кусок, сумма чисел в котором максимальна.<p>
    <i>Примечание.</i> Фактически требуется найти такие $i$ и $j$ ($i \le j$), что сумма всех элементов массива от $a_i$ до $a_j$ включительно будет максимальна.
  </p>
  </div>

  <div class="input-specification">
    <div class="section-title">
      Входные данные
    </div>

    <p class="math">На вход программе сначала подается натуральное $n \le 100 000$ — количество элементов в массиве. Далее, по одному в строке расположены сами элементы массива — целые числа, по модулю не превосходящие 30 000.
    </p>

  </div>

  <div class="output-specification">
    <div class="section-title">
      Выходные данные
    </div>

    <p>Выдайте пару искомых значений индексов. Если таких пар несколько, то $j$ должно быть минимально возможным, а при равных $j$ значение $i$ должно быть максимально возможным.</p>

  </div>
</div>
Фактически требуется найти такие $i$ и $j$ ($i \le j$), что сумма всех элементов массива от $a_i$ до $a_j$ включительно будет максимальна.

