:host {
  background: var(--light-gray-2);
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 456px;
  border-radius: 6px;
  box-shadow: 0 0 24px 0 rgba(182, 189, 197, 0.42);
  background-color: #ffffff;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
}

.form__title {
  font-size: 22px;
  color: #2d3446;
}

.form__choose-options {
  margin-top: 20px;
  color: #676b7a;
  font-size: 16px;
}

.form__radio-buttons {
  margin-top: 20px;
  margin-bottom: 16px;
}

button {
  margin-top: 20px;
  display: block;
  width: 183px;
}

.result-message {
  margin-top: 12px;
  width: 360px;
  font-size: 14px;
}

.success {
  color: #39b54a;
}

.error {
  color: #e01f19;
}
