:host {
  width: 100vw;
  max-width: 800px;
  display: block;
}

.loader {
  margin: auto;
}

.title {
  margin: 0 0 8px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.29;
}

.title-small {
  margin: 0 0 16px;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.27;
}

.status-box {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.38;
  color: var(--black-2);
}

.status {
  margin-left: 8px;
}

.name {
  margin-bottom: 2px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.date {
  font-size: 14px;
  line-height: 1.29;
  color: var(--gray);
}

.description {
  margin-top: 8px;
  margin-bottom: 16px;
  max-width: 736px;
  font-size: 16px;
  line-height: 1.5;
}

.tabs {
  margin-bottom: 20px;
}

.download {
  display: flex;
  align-items: center;
}

.download-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.statistics {
  margin-bottom: 24px;
}

.error-no-tests {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.28;
}

.error-icon {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.compiler-title {
  margin-bottom: 12px;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-gray);
}

.compiler-message {
  padding: 20px;
  font-size: 15px;
  line-height: 1.73;
  background-color: var(--light-gray-3);
  white-space: pre-wrap;
  border-radius: 4px;
}
