.paragraph {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;

  &_examples {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.small-title {
  margin-bottom: 4px;
  display: block;
  font-weight: 500;
}

.separator {
  margin-top: 28px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.28;
  color: var(--gray);
  white-space: nowrap;

  &::before {
    content: '';
    margin-right: 12px;
    width: 4px;
    height: 40px;
    background-color: var(--light-gray-1);
  }

  &::after {
    content: '';
    margin-left: 17px;
    width: 100%;
    height: 1px;
    background-color: var(--light-gray-1);
  }
}
